.navbar-nav > .user-menu i.user-image {
    border: 1px solid;
    font-size: 18px;
    text-align: center;
    border-color: rgba(255,255,255,0.2);
    vertical-align:middle;
    line-height:20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}


body {
    
    font-size:14px;
    font-family: 'Lato', sans-serif;

}
.user-menu i.img-circle {
    z-index: 5;
    height: 90px;
    width: 90px;
    border: 3px solid;
    border-color: transparent;
    border-color: rgba(255,255,255,0.2);
    vertical-align:middle;
    color:white;
    line-height:75px;
}

.user-panel i.img-circle {
    height: 45px;
    width: 45px;
    border: 2px solid;
    border-color: transparent;
    border-color: rgba(255,255,255,0.2);
    vertical-align:middle;
    color:white;
    line-height:37px;
    text-align: center;
    transition:all ease 0.5s;
    font-size:30px;
}

.sidebar-mini.sidebar-collapse .user-panel i.img-circle {
    height: 30px;
    width: 30px;
    border: 2px solid;
    border-color: transparent;
    border-color: rgba(255,255,255,0.2);
    vertical-align:middle;
    color:white;
    line-height:25px;
    text-align: center;
    font-size:20px;
     transition:all ease 0.5s;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1.5em 0;
    padding: 0; 
}

span.obligatoire {
    color:red;
    margin-left:5px;
    font-weight:900;
}

#content .table {
    box-shadow: 3px 4px 5px #999999;
    -webkit-box-shadow: 3px 4px 5px #999999;
    -moz-box-shadow: 3px 4px 5px #999999;
    -o-box-shadow: 3px 4px 5px #999999;
    border: 0;
}

#content .table th {
    color: #eee;
    background-color: #D32A2F;
    border-top: none;
}

#content .table [data-trie] {
        cursor: pointer;
        transition: all 0.3s ease;
    }

#content [data-trie]:hover {
    color: #ffffff;
    background-color: #E33A3F;
}

#content [data-trie].active, #content [data-trie]:active {
    color: #fff;
    background-color: #C31A1F;
}

#content .table th:last-of-type, #content .table td:last-of-type {
        border-right: none;
    }

    #content .table th:first-of-type, #content .table th:last-of-type {
        border-left: none;
    }

    .table th i {
    
    cursor: pointer;
}

.table td i:not(:last-of-type) {
    margin-right: 10px;
}

.table td i {
    cursor: pointer;
}
.table td u {
    font-weight:bold;
}

#content .table-striped > tbody > tr:nth-child(even) > td {
    background-color: #e3e3e3;
}

.visible {
    transition: opacity 0.5s ease;
    opacity: 1;
}

.cache {
    opacity: 0;
}


.modal-header {
    background-color: #D32A2F;
    color: #eee;
    border-bottom: 0px;
   
}

    .modal-header .close {
        color: #eee;
    }

        .modal-header .close:hover {
            color: #fff;
        }


.modal-content {
    border: 0px;
  
}

.modal-footer {
    border-top: 0px;
}

.legendeGraphique {
    width:45px;
    height:14px;
    margin-right:10px;
    border:2px double #ccc;
}

.btn-primary {
  color: #fff;
  background-color: #D32A2F;
  border-color: #A30A0F;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #E33A3F;
  border-color: #D32A2F;
}
.btn-primary:hover {
  color: #fff;
  background-color: #E33A3F;
  border-color: #D32A2F;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #C31A1F;
  border-color: #A30A0F;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: #E33A3F;
  border-color: #D32A2F;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-primary .badge {
  color: #337ab7;
  background-color: #fff;
}

.box.box-primary {
  border-top-color: #FFDA00;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #D32A2F;
  border-color: #D32A2F;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.pager {
  padding-left: 0;
  margin: 20px 0;
  text-align: center;
  list-style: none;
}
.pager li {
  display: inline;
}
.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
}
.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  background-color: #eee;
}
.pager .next > a,
.pager .next > span {
  float: right;
}
.pager .previous > a,
.pager .previous > span {
  float: left;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
}

.form-group .description
{
    color:#999;
    font-size:12px;
}

.infobulle i.fa-circle {
    color:blue;
    font-size:20px;
}

.infobulle i.fa-question {
    color:white;
    
}

.tooltip-inner {
  max-width: 300px;
  
}